@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";


body {
    background-color: #CAF0F8;
}

#weatherContainer {
    background-color: #0077B6;
    visibility: hidden;
}



#fiveDayHeader {
    visibility: hidden;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 35px;
}

#forecast-container {
    visibility: hidden;

}

#alert-container {
    background-color: red;
    visibility: hidden;

}

.col {
    border: 3px solid white;
    background-color: #90E0EF

}

#search-bar {
    margin: auto;
    max-width: 50%;
}

button {
    justify-content: center;
}

#page-title {
    background-color: #023E8A;
    
}

.title {
    color: white;

}

#page-title h1 {
    text-align: center;
}

#city-input {
    margin: auto;
}

#form-label {
    margin: auto;
}

button {
    margin: auto;
}

#fiveday-button {
    visibility: hidden;
}

#conditions-title {
    visibility: hidden;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 35px;
}

#forecast-grid {
    display: flex;
    justify-content: center;
}

