#weatherContainer {
    background-color: lightblue;
}



#fiveDayHeader {
    visibility: hidden;
}

#forecast-container {
    visibility: hidden;
}

#alert-container {
    background-color: red;
    visibility: hidden;

}

.col {
    border: 3px solid white;
    background-color: lightpink

}
